<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet Something</title>
    <link rel="stylesheet" href="/new_style.css">
</head>

<body>
    <div class="new-container">
        <h1>Tweet What's Happening ?</h1>
        <form action="/tweets" method="post">
            <span class="input-row">
                <p>Enter Username : </p>
                <input type="text" placeholder="username" name="username"> <br><br>
            </span>
            <p>Tweet : </p>
            <textarea name="content" placeholder="What is happening?!"></textarea> <br>
            <button>Post</button>
        </form>
    </div>
</body>

</html>