<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="show-container">
        <h2>Here is your tweet</h2>
        <p>tweet id: <%= tweet.id %>
        </p>
        <div class="tweet">
            <h3 class="user">@<%= tweet.username %>
            </h3>
            <h4>
                <%= tweet.content%>
            </h4>
        </div>
    </div>
</body>

</html>